# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.venv/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Byte-compiled files
*.egg-info/
build/
dist/
